[package]
name = "qrtool"
version = "0.6.2"
authors = ["Shun Sakai <sorairolake@protonmail.ch>"]
edition = "2021"
rust-version = "1.65.0"
description = "An utility for encoding or decoding QR code"
readme = "README.md"
repository = "https://github.com/sorairolake/qrtool"
license = "Apache-2.0 OR MIT"
keywords = ["qrcode"]
categories = ["command-line-utilities"]
exclude = [
  "/.github",
  "/*.json",
  "/clippy.toml",
  "/Cross.toml",
  "/doc",
  "/justfile",
  "/rustfmt.toml",
  "/tests",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.71"
clap = { version = "4.3.8", features = ["derive", "wrap_help"] }
clap_complete = "4.3.1"
csscolorparser = "0.6.2"
image = "0.24.6"
qrencode = "0.14.0"
resvg = { version = "0.34.1", default-features = false, optional = true }
rqrr = "0.6.0"
sysexits = "0.6.1"

[dev-dependencies]
assert_cmd = "2.0.11"
predicates = "3.0.3"

[features]
default = ["decode-from-svg"]
decode-from-svg = ["dep:resvg"]

[profile.release]
lto = true
strip = true
