# SPDX-FileCopyrightText: 2022 Shun Sakai
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

[package]
name = "qrtool"
version = "0.8.1"
authors = ["Shun Sakai <sorairolake@protonmail.ch>"]
edition = "2021"
rust-version = "1.70.0"
description = "An utility for encoding or decoding QR code"
readme = "README.md"
homepage = "https://sorairolake.github.io/qrtool/"
repository = "https://github.com/sorairolake/qrtool"
license = "Apache-2.0 OR MIT"
keywords = ["qrcode"]
categories = ["command-line-utilities"]
exclude = [
  "/.bumpversion.cfg*",
  "/.github",
  "/antora-playbook.yml",
  "/clippy.toml",
  "/Cross.toml",
  "/doc",
  "/justfile",
  "/package*.json*",
  "/rustfmt.toml",
  "/tests",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.6", features = ["derive", "wrap_help"] }
clap_complete = "4.4.1"
clap_complete_nushell = "4.4.1"
csscolorparser = "0.6.2"
image = "0.24.7"
qrencode = "0.14.0"
resvg = { version = "0.35.0", default-features = false, optional = true }
rqrr = "0.6.0"
sysexits = "0.7.2"

[dev-dependencies]
assert_cmd = "2.0.12"
predicates = "3.0.3"

[features]
default = ["decode-from-svg"]
decode-from-svg = ["dep:resvg"]

[profile.release]
lto = true
strip = true
