<footer class="footer">
  <p>&copy; 2022&ndash;{{year}} Shun Sakai &middot; <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a></p>
  <p>Powered by <a href="https://antora.org/" target="_blank">Antora</a> &amp; <a href="https://gitlab.com/antora/antora-ui-default" target="_blank">Antora Default UI</a></p>
</footer>
