name: Deployment

on:
  push:
    branches:
      - develop
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup Node.js environment
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'npm'
    - name: Install dependencies
      run: |
        npm ci
        npx honkit -V
    - name: Setup just
      uses: extractions/setup-just@v1
    - name: Build a book
      run: just build-book
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3.9.3
      if: startsWith(github.ref, 'refs/tags/')
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_book
