# SPDX-FileCopyrightText: 2024 Shun Sakai
#
# SPDX-License-Identifier: Apache-2.0 OR MIT

name: Mirror to mirror repositories

on:
  push:
    branches:
      - "develop"
      - "master"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  gitlab:
    name: Mirror to GitLab
    if: (github.actor == 'sorairolake' || github.event_name == 'schedule') && github.repository_owner == 'sorairolake'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Mirror to GitLab
        uses: yesolutions/mirror-action@v0.7.0
        with:
          REMOTE: "https://gitlab.com/sorairolake/qrtool.git"
          GIT_USERNAME: ${{ github.actor }}
          GIT_PASSWORD: ${{ secrets.GITLAB_TOKEN }}
          PUSH_ALL_REFS: "false"

  codeberg:
    name: Mirror to Codeberg
    if: (github.actor == 'sorairolake' || github.event_name == 'schedule') && github.repository_owner == 'sorairolake'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Mirror to Codeberg
        uses: yesolutions/mirror-action@v0.7.0
        with:
          REMOTE: "https://codeberg.org/sorairolake/qrtool.git"
          GIT_USERNAME: ${{ github.actor }}
          GIT_PASSWORD: ${{ secrets.CODEBERG_TOKEN }}
          PUSH_ALL_REFS: "false"
